@import '../../../variables';

.article {
  img {
    height: 215px;
    width: -webkit-fill-available;
    border-radius: 25px;
    object-fit: cover;
  }

  .date {
    padding-top: 23px;
    color: $background-third-color;
    font-family: $main-font;
    font-size: 14px;
  }

  .text {
    padding-top: 12px;
    color: $main-color;
    font-family: $main-font;
    font-weight: 700;
  }
}