@import '../../../../variables';

.header-icon {
    position: relative;

    .count {
        position: absolute;
        background-color: $accent-color;
        color: #FFFFFF;
        text-align: center;
        font-weight: 700;
        font-size: 12px;
        border-radius: 14px;
        width: 26px;
        height: 18px;
        top: -10px;
        left: 15px;
        padding-top: 2px;
    }
}