$main-font: "Roboto", sans-serif;
$secondary-font: "Inter", monospace;
$main-color: #262626;
$secondary-color: #737373;
$accent-color: #CA0100;
$route-color: #C2C2C4;
$background-color: #eff0f0;
$background-secondary-color: #E1E1E1;
$background-third-color: #ADADB0;
$background-light-color: #F8F8F8;
$dark-background: #1B1B1B;
$white: white;
$black: black;
$gray: #E1E1E1;