@import '../../variables';

.slider-block {
    .value-block {
        display: flex;
        justify-content: space-between;

        .name {
            font-family: $main-font;
        }

        .range {
            font-family: $main-font;
            font-weight: 700;
        }
    }

    .slider {
        width: 100%;
        height: 50px;

        .track {
            top: 20px;
            height: 6px;
            position: relative;
            background: $background-secondary-color;
        }

        .track.track-1 {
            background: $accent-color;
        }

        .track.track-2 {
            background: $background-secondary-color;
        }

        .thumb {
            top: 16px;
            width: 14px;
            height: 14px;
            background-color: $accent-color;
            cursor: pointer;
            border-radius: 100%;
        }

        .mark {
            margin: -13px 7px;
            bottom: calc(50% - 6px);
            width: 1px;
            height: 8px;
            background-color: $background-secondary-color;
        }
    }
}