@import '../../variables';

.dropdown {
  margin: 0;
  position: relative;

  button {
    color: $main-color;
    background-color: #fff;
    font-family: $main-font;
    border: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;

    img {
      margin-left: 10px;
    }
  }

  ul {
    position: absolute;
    list-style-type: none;
    border: 1px solid black;
    padding: 0 40px;

    a {
      font-size: 16px;
      color: $main-color;
      text-decoration: none;
      font-weight: 700;
    }
  }
}