@import "../../../variables";

#about-company-container {
  display: flex;
  gap: 31px;
  justify-items: center;
  padding: 108px 492px;
  flex-direction: column;
  align-items: center;

  p {
    text-align: center;
    line-height: 160%;
  }

  .video {
    padding: 12px 0;
    width: 100%;

    iframe {
      border-radius: 25px;
      width: 100%;
      height: 573px;
    }
  }
}

@media (max-width: 851px) {
  #about-company-container {
    align-items: flex-start;
    padding: 40px 15px;

    .video {
      align-self: center;

      iframe {
      }
    }
  }
}

@media (min-width: 850px) {}